@model Exchaggle.ViewModels.PasswordResetViewModel
<img src="~/Content/Vectors/logo_md_spl_1177FF.svg" class="img-responsive" style="margin: 30px auto;" />

@using (Html.BeginForm("PasswordReset", "Account"))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-exchaggle">
        <div class="panel-heading">
            Password Reset
        </div>
        <div class="panel-body">
            @if (ViewBag.Message != null)
            {
                <div class="col-xs-12">
                    <div class="alert exchaggle-alert-light">
                        @ViewBag.Message
                    </div>
                </div>
            }
            <div class="col-xs-12">
                @Html.ValidationSummary(true, "", new { @class = "exchaggle-text-attention" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "exchaggle-form-control form-control fluid-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "exchaggle-text-attention" })
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "exchaggle-form-control form-control fluid-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "exchaggle-text-attention" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <input type="submit" value="Send" class="btn btn-block btn-exchaggle-primary fluid-control" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}