@model Exchaggle.ViewModels.Common.ItemsDetailViewModel
<br />
<div class="panel panel-exchaggle">
    <div class="panel-heading panel-noborder">
        Details
    </div>
    <table class="table">
        <tfoot>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 add-bottom">
                            @if (ViewBag.ReturnUrl != null)
                            {
                                <a href="@ViewBag.ReturnUrl" class="btn btn-block btn-exchaggle-primary">Back</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index","Items")" class="btn btn-block btn-exchaggle-primary">Back</a>
                            }
                        </div>
                        @if (Model.Status == 0)
                        {
                            <div class="col-xs-12 col-sm-3 add-bottom">
                                <a href="@Url.Action("Edit","Items", new { reference = Model.ItemId })" class="btn btn-block btn-exchaggle-secondary">Edit</a>
                            </div>
                            <div class="col-xs-12 col-sm-3 add-bottom">
                                <a href="@Url.Action("Delete","Items", new { reference = Model.ItemId })" class="btn btn-block btn-exchaggle-secondary confirmation-delete-item">Delete</a>
                            </div>
                            <div class="col-xs-12 col-sm-3 add-bottom">
                                <a href="@Url.Action("UserOffers","Trades", new { reference = Model.ItemId })" class="btn btn-block btn-exchaggle-secondary">Offers</a>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </tfoot>
        <tbody class="panel-canvas">
            <tr style="border-bottom: 0px;">
                <td>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("~/Views/Shared/ItemDetailsLayout.cshtml", Model)
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/common")
}